body{
    font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif;
    margin: 0%;
    overflow-x: hidden;
}
#focused-mission-bar{
    border-left: 3px solid red;
    border-radius: 3px;

}
.focused-mission{
    margin-left: 10px;
}
.color{
    color: darksalmon;
}
.button-deco{
   border: none;
   color: white;
   background-color: crimson;
   padding: 10px 26px;
   border-radius: 5px;
}
.flexible{
    display:flex;
}
.first-sec{
    margin-left: 50px;

}
#focused{
    margin-top: 100px;
    margin-left: 70px;
}
.half-width{
    width: 50%;
}
#focused-img{
    width: 60%;
    margin-left: 100px;
    margin-bottom: 100px;
}
.mission-vission-goal{
    width: 100%;
    margin: 1em;
    height: 250px;
}
.centerilazation{
    text-align: center;
}
#illustrator-one{
background-color:cornsilk ;
border-radius: 15px;
padding: 30px;

}
#illustrator-two{
    background-color:rgb(179, 154, 117);
    border-radius: 15px;
    padding: 30px;
}
#illustrator-three{
    background-color: rgb(165, 164, 162);
    border-radius: 15px;
    padding: 30px;
}
.illustrator-img{
    width: 37%;
    border-radius: 5px;
}
#mission-vission-goal-div{
    margin-left: 7em;
    margin-right: 7em;
   
}
.develop-global-section{
    margin-top: 5em;
}
#left-bg{
    background-image: url(photo/images/shapes/shape-bg.png);
    background-repeat: no-repeat;
    background-size: 100px;
    background-position:2em;
    background-position-y: 70px;
    
}
#right-bg{
    background-image:url(photo/images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: bottom;
    background-position-x: 62em;
}
.develop-goal-img{
    height: 400px;
    width: 400px;
    margin-bottom: 5em;
}
.develop-img-div{
    margin-left: 8em;
}
.develop-intro-div{
    margin-left: 3em;
    margin-right: 8em;
}
footer{
    background-color: black;
    height: 150px;
    margin: 2px;
}
footer h2{
    text-align: center;
    color: white;
   
}
footer p{
    color: white;
    text-align: center;
   
}
#footer-div{
    padding-top:1em;
    margin-top: 4em;
}
#footer-mission{
    color:indianred;
}
